[Desktop Entry]
Type=Application
Version=1.0
Name=BuildingEd
Comment=Official building editor for Project Zomboid
Exec=BuildingEd
Icon=tiled-icon
Terminal=false
Categories=Utility;Development;
Keywords=Qt;Wayland;App;
StartupWMClass=BuildingEd

